{% extends 'base.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load static %}
{% load humanize %}

{% block content %}
<br/>
<br/>

<div class="container">
    <div class="mb-2">
        <a href="{% url 'customer:index' %}" class="btn btn-outline-primary btn-sm rounded-pill">
            <i class="fas fa-arrow-left"></i> Go Back
        </a>
        <a href="{% url 'customer:create-ad' %}" class="btn btn-primary btn-sm rounded-pill">
            <i class="fas fa-plus"></i> Post an Ad
        </a>
    </div>

    <hr>
    <h2>Advertisement</h2>

    <form class="mb-3" action="{% url 'customer:ad-list' %}" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search ads...">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>

    <div class="row">
        <div class="col-lg-3 py-3">
            <div class="category-menu">
                <div class="category-menu-header">
                    <h4>Categories</h4>
                    <select name="category" id="category-dropdown" onchange="location = this.value;">
                        <option value="?category=all">All</option>
                        {% for category in categories %}
                            <option value="?category={{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <a href="{% url 'customer:ad-list' %}" class="refresh-link py-3">
        <button type="button" class="btn btn-primary">
            <i class="fas fa-sync-alt"></i> Refresh to All Categories
        </button>
    </a>

    {% for ad in ads %}
        {% if not request.GET.category or request.GET.category == ad.category %}
            {% if forloop.counter0|divisibleby:5 %}
                <!-- Display event item here -->
                {% for event in events %}
                    <div class="col-lg-3 col-md-6 mb-4 pt-3">
                        <div class="card">
                            {% if event.sponsored %}
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <img src="{% static 'logo.png' %}" alt="User Avatar" class="avatar me-2" style="width: 30px; height: 30px;">
                                        <h5 class="card-title">Sponsored Ad</h5>
                                    </div>
                                </div>
                            {% endif %}
                            <img src="{{ event.image.url }}" alt="User Post Image" class="" style="height: 320px;">
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ event.title }}</h5>
                                        <p class="card-text">{{ event.description }}</p>
                                        <p style="font-size: 14px;">
                                            <span style="display: inline-block; vertical-align: middle;">
                                                <i class="fas fa-hand-pointer" style="margin-right: 5px;"></i>
                                            </span>
                                            <span style="display: inline-block; vertical-align: middle;">
                                                <a href="{{ event.link }}" style="font-size: 12px; text-decoration: none;">Click here for more details</a>
                                            </span>
                                        </p>
                                    </div>
                                    <div class="share-buttons">
                                        <div class="row">
                                            <div class="col">
                                                <a href="whatsapp://send?text={{ event.title }} - {{ event.description }} - {{ request.build_absolute_uri }}" class="btn btn-sm btn-success rounded me-1" style="text-decoration: none;">
                                                    <i class="fab fa-whatsapp"></i> WhatsApp Share
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" class="btn btn-sm btn-primary rounded me-1" style="text-decoration: none;">
                                                    <i class="fab fa-facebook"></i> FaceBook Share
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
<div class="container mt-2">
  <div class="row">

      <div class="col-md-4 mt-2">
        <div id="ad{{ ad.id }}" class="card">
          {% for image in ad.images.all %}
            <a href="{% url 'customer:ad-detail' ad.id %}">
  <img src="{{ image.image.url }}" class="card-img-top" alt="Product Image">
</a>
          {% endfor %}
          <div class="card-body">
            <h5 class="card-title py-1" ><a href="{% url 'customer:ad-detail' ad.id %}"style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 12px; font-weight: bold; text-decoration: none; padding: 10px 20px; background-color: #FF9900; border-radius: 4px; transition: background-color 0.3s;" class="text-decoration-none text-light">{{ ad.title|upper }}</a></h5>
<div class="price-tag">
  <p class="before-price">Price Was: <span>K {{ ad.original_price }}</span></p>
  <p class="now-price">Price: <span>K {{ ad.price }}</span></p>
</div>



            <style>
.price-tag {
  display: inline-block;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.before-price {
  margin-bottom: 5px;
  font-size: 14px;
  color: #999;
}

.before-price span {
  text-decoration: line-through;
}

.now-price {
  font-size: 18px;
  font-weight: bold;
}

.now-price span {
  color: #ff6600;
}


.posted-info {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.clock-icon {
  color: #888;
  margin-right: 5px;
}

.posted-text {
  color: #666;
  font-size: 14px;
}
</style>

<div class="posted-info">
  <i class="fas fa-clock clock-icon"></i>
  <span class="posted-text">Posted {{ ad.created_at|timesince }} ago</span>
</div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="">
                <a href="tel:{{ ad.phone_number }}" class="card-link" style="text-decoration: none; color: #333;">
  <span class="badge bg-success"><i class="fas fa-phone me-2" style="color: #fff;"></i>Call</span>
</a>

{% if ad.phone_number|striptags|join:''|starts_with_plus260 %}
  <a href="https://wa.me/{{ ad.phone_number|slugify }}" class="card-link" style="text-decoration: none; color: #333;">
    <span class="badge bg-primary"><i class="fas fa-comment me-2" style="color: #fff;"></i>Chat</span>
  </a>
{% else %}
  <a href="https://wa.me/+260{{ ad.phone_number|slugify }}" class="card-link" style="text-decoration: none; color: #333;">
    <span class="badge bg-primary"><i class="fas fa-comment me-2" style="color: #fff;"></i>Chat</span>
  </a>
{% endif %}






  <a href="{% url 'customer:ad-detail' ad.id %}" style="text-decoration: none; color: #333;">
    <span class="badge bg-info"><i class="fas fa-comment-alt me-2" style="color: #fff;"></i>{{ ad.comments.count }} comments</span>
  </a>


              </li>
<style>
  .discount-section {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }

  .discount-amount {
    font-weight: bold;
    color: #666;
  }

  .original-price {
    text-decoration: line-through;
    color: #999;
  }
</style>

<li class="list-group-item" style="display: flex; align-items: center; justify-content: center; border-color: #ccc;">
  <a href="https://www.google.com/maps/search/?api=1&query={{ ad.location }}" class="card-link d-flex align-items-center justify-content-center" style="text-decoration: none; color: #333; padding: 4px 8px; border: 1px solid #ccc; border-radius: 4px; width: 100%;">
    <i class="fas fa-map-marker-alt me-2" style="color: #888;"></i>
    {{ ad.location }}
  </a>
</li>






            </ul>
            <div class="" style="padding: 10px;">

<div class="row">
  <div class="col-md-6 col-sm-6 mt-2">
    <div class="d-grid">
<a href="whatsapp://send?text={{ ad.title }} - {{ ad.description }} - {{ request.build_absolute_uri }}#ad{{ ad.id }}" class="btn btn-sm btn-success rounded me-1 w-100" style="text-decoration: none;">
    <i class="fab fa-whatsapp"></i> WhatsApp Share
</a>

    </div>
  </div>
  <div class="col-md-6 col-sm-6 mt-2">
    <div class="d-grid">
<a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}#ad{{ ad.id }}" class="btn btn-sm btn-primary rounded w-100" style="text-decoration: none;">
    <i class="fab fa-facebook"></i> Facebook Share
</a>
    </div>
  </div>
</div>



            </div>
          </div>
        </div>
      </div>

  </div>
</div>


        {% endif %}
    {% endfor %}

    {% if ads|length|divisibleby:5 %}
        <!-- Display event item here -->
        {% for event in events %}
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    {% if event.sponsored %}
                        <div class="card-sponsor-badge">Sponsored</div>
                    {% endif %}
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ event.title }}</h5>
                        <p class="card-text">{{ event.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
</div><br/>
<script>
// JavaScript code to scroll to the ad when the page loads
document.addEventListener("DOMContentLoaded", function() {
  // Get the ad ID from the URL fragment
  const adId = window.location.hash.substr(1);

  // Scroll to the ad element if the ID exists
  if (adId) {
    const adElement = document.getElementById(adId);
    if (adElement) {
      adElement.scrollIntoView();
    }
  }
});
</script>
{% endblock %}
</section>
