{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<br/>
<br/>

<div class="container">
    <div class="mb-2">
        <a href="{% url 'customer:index' %}" class="btn btn-outline-primary btn-sm rounded-pill">
            <i class="fas fa-arrow-left"></i> Go Back
        </a>
        <a href="{% url 'customer:create-ad' %}" class="btn btn-primary btn-sm rounded-pill">
            <i class="fas fa-plus"></i> Post an Ad
        </a>
    </div>

    <hr>
    <h2>Advertisement</h2>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <h4>Filter by Category:</h4>
        <div class="btn-group d-flex flex-wrap" role="group" aria-label="Category Buttons">
          <a href="{% url 'customer:ad-list' %}" class="btn btn-outline-primary {% if not request.GET.category %}active{% endif %}">
            <span class="badge bg-primary text-white {% if not request.GET.category %}active{% endif %}">All</span>
          </a>
          {% for key, value in categories.items %}
          <a href="{% url 'customer:ad-list' %}?category={{ key }}" class="btn btn-outline-primary {% if request.GET.category == key %}active{% endif %}">
            <span class="badge bg-primary text-white {% if request.GET.category == key %}active{% endif %}">{{ value }}</span>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>


    <form class="mb-3" action="{% url 'customer:ad-list' %}" method="GET">
        <div class="input-group">
            <input type="text" class="form-control" name="q" placeholder="Search ads...">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </form>
{% include 'customer/card.html' %}

</div>

{% endblock %}
