{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero" style="background-image: url('{% static 'White Yellow Minimalist Delivery Services Instagram Story (1).png' %}');">
  <div class="container">
    <h1 style="color: #232f3e; font-size: 30px; font-weight: bold; text-transform: uppercase;">Quick<span style="color: #FF9900;">Drop</span></h1>
    <p style="color: white; font-size: 20px; margin-top: 20px;">You Order. We Deliver. Enjoy.</p><br/>
    <a href="{% url 'customer:order' %}" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 18px; font-weight: bold; text-decoration: none; padding: 10px 20px; background-color: #FF9900; border-radius: 4px; transition: background-color 0.3s;">Place an Order</a>
  </div>
</section>

<a href="" style="color: black; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 18px; font-weight: bold; text-decoration: none; padding: 10px 20px; background-color: transparent; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 4px; transition: background-color 0.3s; display: inline-flex; align-items: center;">
     Categories
</a>
<style>
.categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.category i {
  font-size: 36px;
  margin-bottom: 10px;
  color: black; /* Set default color to black */
}

.category-label {
  font-size: 14px;
  text-align: center;
}

.category a {
  text-decoration: none;
}

.category.education i {
  color: red; /* Set color to red for the education icon */
}

.category.tourism i {
  color: red; /* Set color to red for the tourism icon */
}

.category.shop i {
  color: red; /* Set color to red for the shop icon */
}


</style>

<div class="categories-container">
    <div class="category tourism">
      <a href="{% url 'town:place_list' %}">
        <i class="fas fa-plane"></i>
        <p class="category-label">Tourism</p>
      </a>
    </div>
<div class="category education">
  <a href="{% url 'pdf_manager:pdf_list' %}">
    <i class="fas fa-graduation-cap"></i>
    <p class="category-label">Education<br>ABEKA</p>
  </a>
</div>

    <div class="category shop">
    <a href="{% url 'customer:order' %}">
      <i class="fas fa-shopping-cart"></i>
      <p class="category-label">Shop</p>
    </a>
  </div>



</div> <!-- Closing tag for categories-container -->
<hr>

        <a class="text-center mb-4" href="" style="color: black; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 18px; font-weight: bold; text-decoration: none; padding: 10px 20px; background-color: transparent; border: 2px solid rgba(255, 255, 255, 0.5); border-radius: 4px; transition: background-color 0.3s; display: inline-flex; align-items: center;">
     Our Partners
</a>




<main>

    <div class="container">

<div class="row justify-content-center">
  {% for post in posts %}
    <div class="col-4 col-md-4 col-lg-2 text-center mb-4">
      <a href="{% url 'post-detail' post.id %}" class="text-decoration-none">
        <div class="logo-wrapper">
          <img src="{{ post.image.url }}" alt="Partner Logo" class="partner-logo rounded-circle">
          <span class="text-dark font-weight-bold small"><strong>{{ post.title }}</strong></span>
        </div>
      </a>
    </div>
  {% endfor %}
</div>

<style>
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.partner-logo {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
}

.logo-wrapper .text-dark {
  margin-top: 5px;
}
.sticky-whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: #25D366;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.whatsapp-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.whatsapp-text {
  font-weight: bold;
}

/* Adjust the button position for smaller screens */
@media (max-width: 768px) {
  .sticky-whatsapp-button {
    bottom: 80px; /* Adjust the distance from the bottom as needed */
  }
}



</style>


    </div>


        <div class="partner-section text-center">
            <h3>Become Our Partner</h3>
            <p>Join our network and reach more customers with QuickDrop.</p>
            <a href="{% url 'blog-home' %}" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 18px; font-weight: bold; text-decoration: none; padding: 10px 20px; background-color: #FF9900; border-radius: 4px; transition: background-color 0.3s;">Our Partners List</a>
        </div>

</main>
<a href="https://wa.me/260970349470?text=Hello%2C%20I%20have%20a%20question." target="_blank" class="sticky-whatsapp-button">
  <i class="fab fa-whatsapp whatsapp-icon"></i>
  <span class="whatsapp-text">Chat on WhatsApp</span>
</a>




{% endblock %}
