{% extends 'base.html' %}

{% block content %}

<style>
/* Your existing styles here */

.menu-item-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-item-image {
  width: 100%;
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu-item-details {
  padding: 10px;
}

.menu-item-details h3 {
  margin-top: 0;
}

.whatsapp-share {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #25D366; /* WhatsApp Green */
}

.fa-share-alt {
  margin-right: 5px;
}
</style>

<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-8 col-sm-12 text-center">
      <h1 class="display-4">Discover Our Marketplace</h1>
      <p class="lead">Find your best products from our selection of quality products</p>
    </div>
  </div>
  <div class="row">
    {% for item in menu_items %}
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="menu-item-card">
          <a href="{% url 'customer:order-search' %}?q={{ item.name }}">
            <img src="{{ item.image.url }}" alt="{{ item.name }}" class="menu-item-image">
          </a>
          <div class="menu-item-details">
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
            <p>Price: ZMK {{ item.price }}</p>
            <a href="https://wa.me/260970349470?text=%0AItem: {{ item.name|urlencode }}%0APrice: ZMK {{ item.price }}%0A{{ item.description|urlencode|safe }}%0A{{ request.build_absolute_uri }}menu/search/?q={{ item.name|urlencode }}" class="whatsapp-share" target="_blank" rel="noopener noreferrer">
              <i class="fa fa-share-alt" aria-hidden="true"></i> Share on WhatsApp
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
