{% extends 'base.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">

            <a href="{% url 'customer:index' %}" class="btn btn-outline-success mb-2 btn-sm">
    <i class="fas fa-arrow-left"></i> Go Back
</a>

<div class="pt-3">
                <form method="GET" action="{% url 'customer:order-search' %}">
                    <div class="form-group d-flex">
                        <input class="form-control mr-2" type="text" placeholder="Search for orders" name="q"/>
                        <button class="btn btn-outline-primary">Search</button>
                    </div>
                </form>
            </div>
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for item in items %}
  <div class="row">
    <div class="col-md-2 col-sm-12">
      <img class="rounded" src="{{ item.image.url }}" width="150" height="100"/>
    </div>
    <div class="col-md-8 col-sm-12">
<div class="d-flex flex-row">
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input" value="{{ item.pk }}" id="item_{{ item.pk }}">
                                        <label class="form-check-label" for="item_{{ item.pk }}">{{ item.name }}</label>
                                        <div class="d-flex justify-content-between">
                                            <div class="input-group">
                                                <label class="input-group-text font-weight-bold mr-3" for="quantity_{{ item.pk }}">Quantity:</label>
                                                <input type="number" name="quantities[]" id="quantity_{{ item.pk }}" class="form-control" value="1" inputmode="numeric" step="1">
                                                <label class="input-group-text font-weight-bold ml-3">K {{ item.price }}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

      <p>{{ item.description }}</p>
      <p><i class="fas fa-tag"></i>
        {% for category in item.category.all %}
          {{ category.name }}
        {% endfor %}
      </p>
    </div>
    <div class="col-md-2 col-sm-12">
      {% if item.availability %}
        <span style="color: green;">&#x25cf; Available</span>
      {% else %}
        <span style="color: red;">&#x25cf; Not Available</span>
      {% endif %}
    </div>

  </div>
  <hr />
{% endfor %}



                    <div class="form-group pt-3">
                        <label for="name">Full Name</label>
                        <input required class="form-control" type="text" placeholder="Your Name" name="name"/>
                    </div>

<div class="form-group pt-3">
    <label for="name">Specifics </label>
    <input class="form-control" type="text" placeholder="Specifics (optional)" name="specifics"/>
</div>


                    <div class="form-group pt-3">
    <label for="name">phone:</label>
    <input class="form-control" type="text" placeholder="phone number" name="email"/>
</div>
<label for="agent">Referral Agent:</label>
    <select name="agent">
    {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
</select>
                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                    <div class="form-group pt-3">
                        <label for="name">Street Address</label>
                        <input required class="form-control" type="text" placeholder="1234 Main St" name="street"/>
                    </div></div>




                    <div class="col-md-4 col-sm-12">
                        <select id="location" name="location" class="form-control">
      {% for location in locations %}
        <option value="{{ location.pk }}">{{ location.name }} ({{ location.delivery_fee }})</option>
      {% endfor %}
    </select></div>

                    </div>
                    </div><hr/>

<!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                  Submit Order!
                </button>
                <!-- <button class="btn btn-dark mt-5">Place Order!</button> -->

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="submitModalLabel">Submit Your Order!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                        <button type="submit" class="btn btn-dark">Place Order!</button>
                      </div>
                    </div>
                  </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
