{% extends 'base.html' %}

{% block content %}
<div class="container">
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Order Confirmation</h1>
            <a href="{% url 'customer:order' %}" class="btn btn-outline-success mb-2 btn-sm">
                <i class="fas fa-arrow-left"></i> Go Back
            </a>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 text-center">
            <h3 class="pb-3">Order Summary:</h3>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order_items %}
                        <tr>
                            <td>{{ item.item.name }}</td>
                            <td>{{ item.quantity }}</td>
                            <td>k{{ item.item.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <hr />
            <!-- Add this section to display the discount information -->
            <p>Added Cost: </p>
            <p class="font-weight-bold pt-4">Delivery Fee: {{ location }} : {{ delivery_fee }}% off on Deliveries + K{{ discount_amount|floatformat:2 }}</p>
            <p class="font-weight-bold pt-4">Order Total: K{{ total_price|floatformat:2 }}</p>

        </div>
    </div>
    <hr />
</div>
<div class="row justify-content-center pb-2 pt-3">
    <div class="col-md-6 text-center">
        <h3>Pay With Cash At Delivery</h3>
    </div>
</div>
<style>
    .btn-custom {
        background-color: #4CAF50;
        border: none;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .btn-custom:hover {
        background-color: #3e8e41;
        color: white;
    }

</style>
<div class="row justify-content-center pb-2 pt-2">
    <div class="col-md-6 text-center">
        <a href="https://api.whatsapp.com/send?phone=260970349470&text=Invoice%20Order:%20https://blessedtouchs.pythonanywhere.com/customer/order/{{ pk }}/invoice" class="btn btn-custom" style="margin-left: 10px;">
            <i class="fab fa-whatsapp" aria-hidden="true" style="color: white; font-size: 24px;"></i> Order Using WhatsApp
        </a>
    </div>
</div>
</div>
{% endblock content %}
