{% extends 'base.html' %}
{% load custom_filters %}


{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">

            <a href="{% url 'customer:index' %}" class="btn btn-outline-success mb-2 btn-sm rounded-pill">
                <i class="fas fa-arrow-left"></i> Go Back <i class="fas fa-home"></i>
            </a>

            <div class="pt-3">
                <form method="GET" action="{% url 'customer:order-search' %}">
                    <div class="input-group">
                        <input class="form-control mr-2" type="text" placeholder="Search for orders" name="q">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <form id="order-form" method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    <style>
                        .menu-item-image {
                            width: 150px;
                            height: 100px;
                            object-fit: cover;
                        }

                        .menu-item {
                            border-bottom: 1px solid #ddd;
                            padding-bottom: 10px;
                            margin-bottom: 10px;
                        }

                        .menu-item:last-child {
                            border-bottom: none;
                            margin-bottom: 0;
                        }

                        .menu-item-description {
                            color: #555;
                        }

                        .menu-item-category {
                            margin-top: 10px;
                            color: #999;
                            font-size: 14px;
                        }

                        .menu-item-availability {
                            font-size: 14px;
                        }

                        .menu-item-availability .dot {
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 5px;
                        }

                        .menu-item-availability .available {
                            background-color: #5cb85c;
                        }

                        .menu-item-availability .not-available {
                            background-color: #d9534f;
                        }

                        /* Additional CSS styles for the "Scroll to Order" button */
                        .scroll-to-order-button {
                            position: fixed;
                            bottom: 20px;
                            right: 20px;
                            z-index: 1000;
                        }
                    </style>
                    {% for item in items %}
                    <div class="menu-item">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <img class="menu-item-image rounded" src="{{ item.image.url }}">
                            </div>
                            <div class="col-md-8 col-sm-12">
                                <div class="d-flex flex-row">
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="items[]" class="form-check-input"
                                            value="{{ item.pk }}" id="item_{{ item.pk }}">
                                        <label class="form-check-label" for="item_{{ item.pk }}">{{ item.name }}</label>
                                        <div class="d-flex justify-content-between">
                                            <div class="input-group">
                                                <label class="input-group-text font-weight-bold mr-3"
                                                    for="quantity_{{ item.pk }}">Quantity:</label>
                                                <input type="number" name="quantities[]" id="quantity_{{ item.pk }}"
                                                    class="form-control" value="1" inputmode="numeric" step="1">
                                                <label class="input-group-text font-weight-bold ml-3">K {{ item.price }} each</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <p class="menu-item-description">{{ item.description }}</p>
                                <p>Delivery Time: {{ item.DeliveredTime }}</p>
                                <p class="menu-item-category">
                                    <i class="fas fa-tag"></i>
                                    {% for category in item.category.all %}
                                    {{ category.name }}
                                    {% endfor %}
                                </p>
                                <p class="menu-item-availability">
                                    {% if item.availability %}
                                    <span class="dot available"></span> Available
                                    {% else %}
                                    <span class="dot not-available"></span> Not Available
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <!-- Empty column for alignment -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    <hr />

<div class="form-group pt-3">
    <label for="full-name">Full Name</label>
    <input required class="form-control" type="text" placeholder="Your Name" name="name" id="full-name">
</div>

<div class="form-group pt-3">
    <label for="specifics">Specifics</label>
    <input class="form-control" type="text" placeholder="Specifics (optional)" name="specifics" id="specifics">
</div>

<div class="form-group pt-3">
    <label for="phone">Phone:</label>
    <input class="form-control" type="text" placeholder="Phone number" name="phone" id="phone">
</div>
<div class="form-group pt-3">
<label for="agent">Referral Agent:</label>
<select name="agent" class="form-control">
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
</select>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12">
        <div class="form-group pt-3">
            <label for="street">Street Address</label>
            <input required class="form-control" type="text" placeholder="1234 Main St" name="street" id="street">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-sm-12 pt-3">
        <label for="location">Location: </label>
        <select id="location" name="location" class="form-control">
            {% for location in locations %}
            <option value="{{ location.pk }}"> {{ location.name }} (ZMK {{ location.delivery_fee }})</option>
            {% endfor %}
        </select>
    </div>
</div>
<hr />


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                    Submit Order!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="submitModalLabel">Submit Your Order!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Go Back</button>
                                <button type="submit" class="btn btn-dark">Place Order!</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Scroll to Order button -->
                <button class="scroll-to-order-button btn btn-primary" type="button" onclick="scrollToOrderForm()"><i class="fas fa-arrow-down"></i> Scroll to Order</button>
            </form>
        </div>
    </div>
</div>
</div>
<script>
    function scrollToOrderForm() {
        const fullNameInput = document.getElementById('full-name');
        fullNameInput.scrollIntoView({ behavior: 'smooth' });
    }
</script>
{% endblock %}
