{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <br/>
        <br/>
        <h2 class="section-title">About Us</h2>

        <div class="row">
            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">BlessedTouch</h5>
                        <p class="card-text">BlessedTouch Multipurpose Cooperative Society is a cooperative dedicated to providing support and assistance to both the youth and the elderly. Our cooperative aims to educate, empower, and uplift individuals in our community by offering a range of services that cater to their specific needs. We believe in fostering a sense of collaboration, inclusivity, and social responsibility in all our endeavors. Through our website, we provide free ad posting services and facilitate online ordering and delivery of various products. By partnering with like-minded organizations, we strive to create a strong network for seamless operations and impactful work.</p>
                    </div>
                </div>
            </div>


            <section class="featured-products">
    <div class="container">
        <h2 class="section-title">Advertise with Us</h2>
        <div class="row">
            <div class="col-lg-8 col-md-6">
                <div class="ad-image-container">
                    <img src="https://m.media-amazon.com/images/I/71qid7QFWJL._SX3000_.jpg" alt="Advertisement" class="product-image img-fluid">
                    <a href="{% url 'customer:ad-list' %}" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 18px; font-weight: bold; text-decoration: none; padding: 10px 20px; background-color: #FF9900; border-radius: 4px; transition: background-color 0.3s;">Advertisements</a>
                </div>
                <div class="hero">
                    <div class="container">
                        <h4 style="color: #232f3e; font-size: 30px; font-weight: bold; text-transform: uppercase;">Promote Your Business</h4>
                        <p style="color: white; font-size: 20px; margin-top: 20px;">Reach a wider audience.</p><br/>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6"><hr>
                <div class="product-item">
                    <img src="{% static 'logo.png' %}" alt="Advertisement" class="product-image img-fluid">
                    <h3 class="product-title">Increase Your Visibility</h3>
                    <p class="product-description">Get noticed by potential customers and expand your brand's reach.</p>
                     <a href="{% url 'customer:create-ad' %}" style="color: white; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-size: 18px; font-weight: bold; text-decoration: none; padding: 10px 20px; background-color: #FF9900; border-radius: 4px; transition: background-color 0.3s;">Post an Ad</a>
                </div>
            </div>
        </div>
    </div>
</section>

            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Our Story</h5>
                        <p class="card-text">BlessedTouch Multipurpose Cooperative Society was founded with the belief that everyone deserves opportunities for personal and professional growth, regardless of age. Recognizing the potential of both the youth and the elderly, we sought to create a platform that would connect them, fostering mutual learning and support. Our cooperative was formed by a group of passionate individuals who have firsthand experience in community development and a deep commitment to making a positive difference.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Our Vision</h5>
                        <p class="card-text">Our vision is to create a society where the youth and the elderly can thrive together, building a harmonious and interconnected community. We envision a world where education, entrepreneurship, and support systems are readily available, enabling individuals to achieve their full potential. By leveraging technology and collaboration, we aim to bridge the gap between generations and empower individuals to lead fulfilling lives.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Our Mission</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Offering educational programs and workshops that enhance skills and knowledge for personal and professional growth.</li>
                            <li class="list-group-item">Assisting small businesses by providing mentorship, access to resources, and networking opportunities.</li>
                            <li class="list-group-item">Operating a user-friendly website, BlessedTouch, where individuals can post ads for free, promoting their products and services.</li>
                            <li class="list-group-item">Facilitating convenient online ordering and delivery services to meet the diverse needs of our community.</li>
                            <li class="list-group-item">Establishing strategic partnerships with organizations, businesses, and individuals who share our values and objectives.</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Our Team</h5>
                        <p class="card-text">Our cooperative is led by a dedicated team of individuals who possess expertise in community development, business management, and technology. Each team member brings unique skills and experiences to the table, ensuring effective planning, execution, and growth. We also engage volunteers and professionals who contribute their time and expertise to our initiatives, creating a diverse and passionate network.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h5 class="card-title">Our Values</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Collaboration: We believe in the power of collective efforts and collaboration to achieve meaningful impact.</li>
                            <li class="list-group-item">Inclusivity: We strive to create an inclusive environment that values and respects the diversity of our community.</li>
                            <li class="list-group-item">Empowerment: We empower individuals by providing them with the tools, resources, and opportunities necessary for personal and professional growth.</li>
                            <li class="list-group-item">Integrity: We conduct our operations with integrity, transparency, and ethical standards.</li>
                            <li class="list-group-item">Social Responsibility: We are committed to making a positive social impact and giving back to our community.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
         <div class="row mt-4">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <h5 class="card-title">Our Organization</h5>
                <p class="card-text">Our organization operates in multiple locations across the region. With dedicated teams in each branch, we ensure efficient operations and consistent quality across all our stores. Here is an overview of our organization structure:</p>
                <div class="org-structure">
                    <img src="https://m.media-amazon.com/images/I/71qid7QFWJL._SX3000_.jpg" alt="Organization Structure" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <h3 id="terms-of-service">Terms of Service</h3>
                <p>Welcome to BlessedTouch! These Terms of Service outline the rules and regulations for the use of our website.</p>
                <p>By accessing or using our website, you agree to comply with these Terms of Service. If you do not agree with any part of these terms, please refrain from using our website.</p>
                <p><strong>1. Intellectual Property Rights</strong></p>
                <p>The content, design, and functionality of BlessedTouch, including but not limited to text, graphics, logos, images, and software, are the property of BlessedTouch Multipurpose Cooperative Society and are protected by intellectual property laws. You may not reproduce, modify, distribute, or republish any content from this website without our prior written consent.</p>
                <p><strong>2. User Obligations</strong></p>
                <p>When using our website, you agree to:</p>
                <ul>
                    <li>Provide accurate and up-to-date information during the registration process.</li>
                    <li>Keep your login credentials confidential and not share them with unauthorized individuals.</li>
                    <li>Use the website in accordance with applicable laws and regulations.</li>
                    <li>Refrain from engaging in any activity that may disrupt or interfere with the website's functionality.</li>
                </ul>
                <p><strong>3. Prohibited Activities</strong></p>
                <p>When using our website, you must not:</p>
                <ul>
                    <li>Engage in any unlawful, fraudulent, or unauthorized activities.</li>
                    <li>Upload or transmit any viruses, malware, or other harmful code.</li>
                    <li>Attempt to gain unauthorized access to our servers or other users' accounts.</li>
                    <li>Interfere with or disrupt the integrity or performance of the website.</li>
                    <li>Collect or harvest personally identifiable information from other users without their consent.</li>
                </ul>
                <p><strong>4. Limitation of Liability</strong></p>
                <p>We strive to provide accurate and reliable information on our website, but we make no representations or warranties of any kind, express or implied, regarding the content or operation of the website. We shall not be liable for any damages or losses arising from the use of our website.</p>
                <p><strong>5. Indemnification</strong></p>
                <p>You agree to indemnify and hold BlessedTouch Multipurpose Cooperative Society and its affiliates, directors, officers, employees, and agents harmless from any claims, demands, or damages, including reasonable attorney's fees, arising out of your use of the website or violation of these Terms of Service.</p>
                <p><strong>6. Governing Law</strong></p>
                <p>These Terms of Service shall be governed by and construed in accordance with the laws of Zambia. Any disputes arising from or relating to these terms shall be subject to the exclusive jurisdiction of the courts in Zambia.</p>
                <p><strong>7. Modifications</strong></p>
                <p>We reserve the right to modify or update these Terms of Service at any time without prior notice. It is your responsibility to review these terms periodically for any changes.</p>
                <p><strong>8. Contact Us</strong></p>
                <p>If you have any questions or concerns regarding these Terms of Service, please contact us at manjoloe800@gmail.com</p>
            </div>
        </div>
    </div>
</div>


<div class="row mt-4">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-body">
                <h3 id="privacy-policy">Privacy Policy</h3>
                <p>Your privacy is important to us. This Privacy Policy outlines how BlessedTouch Multipurpose Cooperative Society collects, uses, and protects your personal information when you use our website.</p>
                <p><strong>1. Information We Collect</strong></p>
                <p>When you use our website, we may collect the following types of information:</p>
                <ul>
                    <li>Personal information: We may collect your name, email address, contact number, and other information you provide to us during the registration or account creation process.</li>
                    <li>Usage information: We may collect information about how you interact with our website, including your IP address, browser type, operating system, and pages visited.</li>
                    <li>Cookies: We may use cookies to enhance your user experience and collect additional information about your preferences and browsing behavior.</li>
                </ul>
                <p><strong>2. How We Use Your Information</strong></p>
                <p>We may use the information we collect for the following purposes:</p>
                <ul>
                    <li>To provide and personalize our services, including processing transactions and responding to your inquiries.</li>
                    <li>To improve our website's functionality and user experience.</li>
                    <li>To send you promotional emails or newsletters, but only if you have provided your consent to receive such communications.</li>
                    <li>To analyze usage patterns and trends to improve our services and develop new features.</li>
                    <li>To protect the security and integrity of our website and prevent fraudulent activities.</li>
                </ul>
                <p><strong>3. Information Sharing and Disclosure</strong></p>
                <p>We may share your personal information with third parties under the following circumstances:</p>
                <ul>
                    <li>With your consent: We may share your information if you have provided your explicit consent to do so.</li>
                    <li>For legal purposes: We may disclose your information to comply with applicable laws, regulations, legal processes, or governmental requests.</li>
                    <li>With service providers: We may engage third-party service providers to assist us in providing and improving our services. These providers will have access to your information only to perform tasks on our behalf and are obligated not to disclose or use it for any other purpose.</li>
                </ul>
                <p><strong>4. Data Security</strong></p>
                <p>We take reasonable measures to protect the confidentiality and security of your personal information. However, please note that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>
                <p><strong>5. Your Rights</strong></p>
                <p>You have the right to access, update, and delete your personal information. You may also have the right to restrict or object to certain processing activities. To exercise these rights, please contact us using the contact information provided below.</p>
                <p><strong>6. Changes to the Privacy Policy</strong></p>
                <p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the updated policy on our website.</p>
                <p><strong>7. Contact Us</strong></p>
                <p>If you have any questions or concerns regarding our Privacy Policy, please contact us at manjoloe800@gmail.com</p>
            </div>
        </div>
    </div>
</div>

    </div>
{% endblock content %}