{% load static %}

<footer class="footer bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2><strong>Get to Know Us</strong></h2>
        <ul class="list-unstyled small">
          <li><a href="{% url 'blog-about' %}" class="text-decoration-none text-light" style="text-decoration: underline;">&#9755; About BlessedTouch</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2><strong>Advertise with Us</strong></h2>
        <ul class="list-unstyled small">
          <li><a href="{% url 'customer:create-ad' %}" class="text-decoration-none text-light" style="text-decoration: underline;">&#9755; Advertise on Our Platform</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h2><strong>Contact Us</strong></h2>
        <ul class="list-unstyled small">
          <li>
            <a href="https://api.whatsapp.com/send?phone=260970349470&text=I%20want%20to%20know%20more" class="text-decoration-none text-light" style="text-decoration: underline;">&#9755;
                Whatsapp <i class="fab fa-whatsapp mr-2"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col text-center">
        <p class="text-center mb-0">2023 &copy; BlessedTouch. All rights reserved. Proudly Zambian</p>
      </div>
    </div>
  </div>
</footer>
