<footer class="navbar-dark bg-steel py-3 text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3"><br/>
                <h4 class="text-uppercase text-white">Contacts</h4><hr>
                <ul class="list-unstyled">
                    <li>Email: manjolee800@gmail.com</li>
                    <li>Phone: 0954155050, 0970349470</li>
                    <li>Address: Livingstone, Zambia</li>
                </ul>
            </div>
            <div class="col-md-3"><br/>
                <h4 class="text-uppercase text-white">Announcements</h4><hr>
                <ul class="list-unstyled">
                    <li>New product launch</li>
                    <li>Upcoming sale</li>
                    <li>Community event</li>
                </ul>
            </div>
            <div class="col-md-3"><br/>
        <h5 class="text-uppercase text-white">Follow Us</h5><hr>
        <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/?sk=welcome">
              <i class="fab fa-facebook-f text-white"> facebook</li></i></a>
            <li><a href="#">
              <i class="fab fa-twitter text-white"> twitter</li></i></a>
            <li><a href="#">
              <i class="fab fa-instagram text-white"> instagram</li></i></a>
            <li><a href="#">
              <i class="fab fa-linkedin-in text-white"> linkedin</li></i></a>
        </ul>
      </div><br/>
            <div class="col-md-3"><br/>
                <h4 class="text-uppercase text-white">Mission</h4><hr>
                <p>Our mission is to provide high-quality services and products to our customers, while also promoting a positive impact on our community and environment.</p>
            </div>
        </div>
        <hr class="bg-white">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    <span>Copyright &copy; 2023</span>
                    <span> BLESSED</span> <span style="color:red">TOUCH</span>
                </p>
            </div>
        </div>
    </div>
</footer>