{% load static %}

<header class="fixed-top">
  <div class="nav-container">
<a href="{% url 'customer:index' %}" class="logo" style="text-decoration: none; font-weight: bold;">
  <span style="color: #FF5733;">CEA</span><span style="color: #5DADE2;">JAM</span> <span style="color: #58D68D;">HARDWARE</span>
</a>


    <nav class="nav-menu">
      <ul>
        <li>
          <a href="{% url 'blog-about' %}" class="btn btn-primary mb-2 btn-sm rounded-pill" style="text-decoration: none; background-color: navy; border-color: navy; color: #fff;">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<br/>
<br/>
<script>
  function hideAlert() {
    var alertElement = document.getElementById("alert");
    alertElement.style.display = "none";
    setTimeout(function() {
      alertElement.style.display = "block";
    }, 300000); // 5 minutes (300,000 milliseconds)
  }
</script>




