{% load static %}
<header class="fixed-top">
  <div class="nav-container">
    <a href="{% url 'customer:index' %}" class="logo">
      <img src="{% static 'logo.png' %}" alt="logo" class="logo-img">
    </a>
    <nav class="nav-menu">
      <ul>
        <li><a href="{% url 'customer:menu' %}" class="icp-button btn btn-outline-light btn-sm mx-1">Marketplace</a></li>
        <li><a href="{% url 'blog-home' %}" class="icp-button btn btn-outline-light btn-sm mx-1">Advertisement</a></li>
      </ul>
    </nav>
  </div>
</header>
<br/>
<br/>
