{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Navigation section -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="py-3 container">
    <a class="navbar-brand" href="#"><span class="small">{{ object.title }} | Profile</span></a>
  </div>
</nav>

<!-- Hero section -->
<section class="hero" style="background-image: url('{% static 'White Yellow Minimalist Delivery Services Instagram Story (1).png' %}');">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="display-4 font-weight-bold">{{ object.title }}</h1>
        <p class="lead text-white">{{ object.content }}</p>
        <br/>
        <a href="{% url 'user-posts' object.author.username %}" class="btn btn-primary">{{ object.author }}</a>
      </div>
    </div>
  </div>
</section>

<!-- Another section with the image -->
<section class="image-section py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <img src="{{ object.image.url }}" alt="Image" class="img-fluid">
      </div>
    </div>
  </div>
</section>

<!-- About section -->
<section class="about py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h2 class="display-4 font-weight-bold">About Us</h2>
        <p class="lead">{{ object.description }}</p>
      </div>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-3 text-center">
        <img src="{{ object.author.profile.image.url }}" alt="About Image" class="img-fluid rounded-circle mt-4">
        <h4 class="mt-3">{{ object.author.profile.name }}</h4>
        <p>{{ object.author.profile.role }}</p>
      </div>
    </div>
  </div>
</section>

<!-- Include posts section -->
<a href="{% url 'user-posts' object.author.username %}" class="btn btn-primary mt-3"> More Posts</a>

<!-- Footer section -->
<footer id="footer" class="py-5 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3>{{ object.title }} Contacts</h3>
        <p>Email: {{ object.author.email }}</p>
        <p>Phone: {{ object.phone_number }}</p>
        <div class="social-icons">
          <!-- Add your social icons here -->
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock content %}
