{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-3">{{ page_obj.paginator.count }} - Items Posted by {{ view.kwargs.username }}</h1>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="Author Image">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <small class="text-muted">On {{ post.date_posted }}</small>
                    </div>
                    <a href="{% url 'post-detail' post.id %}" class="btn btn-primary mt-3"> More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}