{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h1 class="mb-3">{{ page_obj.paginator.count }} - Items Posted by {{ view.kwargs.username }}</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="{{ post.image.url }}" alt="Author Image">
                        <div class="card-body">
                            <div class="card-text d-flex justify-content-between">
                                <div class="">
                                    <a class="text-dark" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                                </div>
                                <div class="">
                                    <small class="text-muted">On {{ post.date_posted }}</small>
                                </div>
                            </div>
                            <h5 class="card-title">
                                <a href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
                            </h5>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}