{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">

    {% if title %}
        <title>Blessed touch - {{ title }}</title>
    {% else %}
        <title>Blessed touch</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">BLESSED</b><span style="color:black">TOUCH</span></a>


          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'blog-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'blog-about' %}">About</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">New Post</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">

       <form class="form-inline my-2 my-lg-0" action="{% url 'search_results' %}" method="get">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>





      <div class="row">
        <div class="col-md-12">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}





          {% block content %}{% endblock %}
        </div>
      </div>

    </main>

<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <h3>Contacts</h3>
        <ul class="list-group">
          <li class="list-group-item">Email: manjolee800@gmail.com</li>
          <li class="list-group-item">Phone: 0954155050</li>
          <li class="list-group-item">Address: Livingstone, Zambia</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Announcements</h3>
        <ul class="list-group">
          <li class="list-group-item">New product launch</li>
          <li class="list-group-item">Upcoming sale</li>
          <li class="list-group-item">Community event</li>
        </ul>
      </div>
       <div class="col-md-4">
        <h3>Mission</h3>
        <p>Our mission is to provide high-quality services and products to our customers, while also promoting a positive impact on our community and environment.</p>
        <div class="row">
        <div class="col-md-12">
            <p class="text-center">
    <span>Copyright &copy; 2023</span>
    <span> BLESSED</span><span style="color:red">TOUCH</span>
</p>

        </div>
    </div>
      </div>


    </div>

  </div>
</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>